.card-body .error h1 {
  font-size: 260px;
  line-height: 260px;
  text-transform: uppercase;
  color: #f6f7f8;
  margin: 0px;
}
.card-body .error h2 {
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: #f6f7f8;
  margin: 0px;
}
.card-body img {
  display: block;
  position: relative;
  max-width: 100%;
}
