.sidebar {
  width: 100%;
  height: 340px;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 7px;
}
.sidebar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
.sidebar .side-item {
  padding: 10px 15px;
  text-align: center;
  color: #595961;
  cursor: pointer;
  position: relative;
}
.sidebar .side-item:hover {
  background-color: rgba(132, 186, 63, 0.2);
}
.sidebar .side-item .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sidebar .new-side-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sidebar .new-side-item:hover .editor {
  display: block;
}
.sidebar .new-side-item:hover .delete {
  display: block;
}
.sidebar .new-side-item .editor {
  display: none;
  z-index: 999;
}
.sidebar .new-side-item .editor img {
  display: block;
  width: 15px;
  height: 15px;
}
.sidebar .new-side-item .delete {
  display: none;
  position: relative;
}
.sidebar .new-side-item .delete img {
  display: block;
  width: 15px;
  height: 15px;
}
.sidebar .side-item-active {
  background-color: rgba(132, 186, 63, 0.2);
  color: #84ba3f;
}
.add-group {
  padding: 10px 15px;
  text-align: center;
  color: #84ba3f;
  cursor: pointer;
}
.add-group:hover {
  color: #689133;
}
.sidebar-change-obj {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.sidebar-change-obj .top {
  margin-bottom: 10px;
}
.sidebar-change-obj .top .left button {
  margin-left: 10px;
}
.sidebar-change-obj .content {
  width: 100%;
  height: 380px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}
.sidebar-change-obj .content::-webkit-scrollbar {
  width: 7px;
}
.sidebar-change-obj .content::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
.sidebar-change-obj .content li {
  box-sizing: border-box;
  width: 25%;
  padding: 10px;
}
.sidebar-change-obj .content li .img-box {
  width: 100%;
  height: 180px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
}
.sidebar-change-obj .content li .img-box:hover {
  border: 1px solid #84ba3f;
  transition: border 0.5s;
}
.sidebar-change-obj .content li .img-box .img {
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.sidebar-change-obj .content li .img-box .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.sidebar-change-obj .content li .img-box .cover img {
  display: block;
  width: 80px;
}
.sidebar-change-obj .content li .img-box .cover-active {
  opacity: 1;
}
