.user-card-top {
  padding-bottom: 70px;
}
.user-card-top .user-pic {
  width: 80px;
  height: 80px;
  left: 50%;
  margin-left: -40px;
}
.user-card-top .user-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.contact-way {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.contact-way li img {
  width: 20px;
}
.contact-way li:first-child {
  margin-right: 10px;
}
