.card-bg {
  position: relative;
  padding: 100px 0;
  background-image: url('../assets/images/login-inner-bg.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.card-bg .user-info {
  position: absolute;
  bottom: 50%;
  width: 100%;
  padding: 0px 20px;
  transform: translateY(50%);
}
.card-bg .user-info .user-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
  position: relative;
}
.card-bg .user-info .user-pic img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
.card-bg .user-info .user-pic .cover {
  display: none;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
}
.card-bg .user-info .user-pic .cover img {
  width: 50px;
  height: 50px;
}
.card-bg .user-info .user-pic:hover {
  background-color: transparent;
}
.card-bg .user-info .user-pic:hover .cover {
  display: block;
}
.card-bg .user-info .editor-btn {
  padding: 3.5px 7px;
  font-size: 12px;
  line-height: 21px;
  border-radius: 4.8px;
  outline: none;
  border: none;
  background-color: #28a745;
}
.card-bg .user-info .editor-btn:hover {
  background-color: #1f8136;
  transition: all 0.3s;
}
.card-bg:before {
  position: absolute;
  width: 100%;
  bottom: 0;
  content: "";
  ackground: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.9) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.9) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.9) 100%);
  top: auto;
  height: 75%;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.notice-card {
  margin-top: 30px;
}
.notice-card img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.send-notice-card {
  overflow: hidden;
}
.send-notice-card .send {
  background-color: #323232;
  border: none;
  padding: 13px 23px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  font-size: 16px;
}
.send-notice-card .send:hover {
  background-color: #84ba3f;
}
